<ion-modal-view>
<ion-view  cache-view="false">
	<div class="item summary-body">
		<div class="item" ng-repeat="(n,c) in iniCart">
			<div class="row">
				<div class="col">
				  	<h2 class="text-value">{{ c.detail }}</h2>
					<div class="row">
						<div class="col">{{ labels.price }} <span class="text-value">{{ c.price | currency:'':0}}</span> {{ labels.baht }}</div>
						<div class="col">{{ labels.sum }} <span class="text-value">{{ iniCart[n].price * iniCart[n].qty | currency:'':0 }}</span> {{ labels.baht }}</div>
					</div>
					<div class="row">
						<div class="col">
							<input type="text" class="input-bg-white" ng-model="iniCart[n].remark" value="{{ c.remark }}" placeholder="* {{ labels.remark }}">
						</div>
					</div>
				</div>
				<div class="col-20 text-center">
					<div class="">{{ iniCart[n].qty }}</div>
				</div>
			</div>
		</div>
		<div class="item text-center assertive" ng-if="iniCart.length == 0 || iniCart.length === undefined">
			<h2 class="assertive">{{ labels.no_order }}</h2>
			<p>{{ currDate | date : 'dd-MM-yyyy HH:mm'}}</p>
		</div>
	</div>
	<div class="item sum sum-top">
		<div class="row">
			<div class="col">{{ labels.total_unit}} </div>
			<div class="col text-right"><span class="assertive">{{ sumQty |number }}</span></div>
			<div class="col-20">{{ labels.pcs }}</div>
		</div>
	</div>
	<div class="item sum">
		<div class="row ">
			<div class="col">{{ labels.total_price }} </div>
			<div class="col text-right"><span class="assertive">{{ sumPrice |currency:'':0 }}</span></div>
			<div class="col-20">{{ labels.baht }}</div>
		</div>
	</div>
	<button class="button button-full button-positive" ng-click="modal.hide()">X CLOSE</button>
</ion-view>
</ion-modal-view>